.board {
  display: flex;
  justify-content: center;
  margin: 16px 4px 0;
}

.board--finished {
  opacity: 0.5;
}

.card {
  position: relative;
  margin: 0 4px;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 32px rgba($color_dark, 0.66);
}

.answer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
  background-color: rgba($color_dark, 0.33);
}

.answer__value {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 66%;
  height: 47.25%;
  margin: 0;
  font-size: 46px;
  font-weight: 500;
  text-align: center;
  border-radius: 100%;
  color: $color_dark;
  border: 8px solid transparent;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0 0 32px rgba($color_dark, 0.95);

  .answer--win & {
    border-color: rgba(#64DD17,0.95);
  }
  
  .answer--lose & {
    border-color: rgba(#FF1744,0.95);
  }

  .answer--tie & {
    border-color: rgba($color_dark, 0.95)
  }

  @media screen and (min-width: 400px) {
    width: 50%;
    height: 35.8%;
    font-size: 56px;
    border: 16px solid rgba(255,255,255,0.95);
  }
}